
html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  text-align: center;
}

.slider{
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}

.inst{
  color: white;
  position: absolute;
  bottom: 1%;
  left: 1%;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
}
